* {
  font-family: cursive;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 46px;
  border-radius: 47px;
  box-shadow: -1px -1px 15px 0px;
  background-color: gray;
}
.form-container:hover {
  background-color: cadetblue;
  transition: 1.6s;
}
.password-input {
  position: relative;
}
.passwordii {
  margin-left: 57px;
}
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
p {
  margin-bottom: -1rem;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 250px;
  margin-bottom: -11px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}
input:hover {
  box-shadow: 1px 3px 4px 1px rgb(12, 68, 90);
  color: brown;
  transition: 1s;
}
textarea:hover {
  box-shadow: 1px 3px 4px 1px rgb(12, 68, 90);
  color: brown;
  transition: 1s;
}
.fifthLabel {
  display: flex;
  justify-content: center;
  padding: 4px;
}
input[type="checkbox"] {
  margin-right: 29px;
}
button[type="submit"] {
  padding: 10px 20px;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
  border: none;
}
button[type="submit"]:hover {
  box-shadow: inset 8px 35px 8px 8px #ffeb3b;
  transition: 1s;
}
.alert-danger {
  width: 21rem;
  margin: 0 auto;
  margin-top: 10px;
}
.table {
  background-color: blueviolet;
}
thead {
  background-color: blueviolet;
}
tbody {
  background-color: blueviolet;
}
.error {
  color: red;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
table {
  width: 39rem;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto;
  border: 1px solid red;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}
.genderBox {
  display: flex;
  justify-content: center;
}
